@charset "UTF-8";
html {
  height: 100%;
  width: 100%;
}

.header {
  background-color: green;
  color: white;
  padding: 10px;
  text-align: center;
}

.description {
  margin-top: 30px;
  text-align: center;
}

.actions {
  margin-top: 20px;
  text-align: center;
}

.actions button {
  margin: 5px;
}